/**
 *  1rem : 16px.
 */
body {
  font-size: 100%;
  background-color: $color-gray-light;
}

main {
  @include no-drag;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
