todo-aside {
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  right: -100%;
  width: 30%;
  background-color: white;
  transition: 0.5s ease;
  padding: 3rem 1.2rem;
  border-left: 1px solid $color-gray-light;

  @include mobile {
    width: 100%;
  }

  todo-aside-close-icon {
    cursor: pointer;
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1rem;
    top: 1rem;
    background: url("../icon/close.png");
    background-size: 1rem;
    background-size: 1rem;
  }

  todo-log {
    display: flex;
    background-color: $color-gray-light;
    width: 100%;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    &:last-child {
      margin-bottom: 0;
    }

    todo-log-icon-box {
      margin-right: 0.5rem;
    }

    todo-log-time {
      display: block;
      margin-top: 0.4rem;
      color: $color-gray-dark;
      font-size: 90%;
    }
  }
}
