todo-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  position: relative;
  box-sizing: border-box;
  todo-card-title {
    font-size: 0.9rem;
    font-weight: 700;
  }
  todo-card-content {
    margin-top: 0.4rem;
    width: 100%;
    font-size: 0.6rem;
  }
  todo-card-bottom {
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    button {
      height: 1.8rem;
      width: 48%;
      border-radius: 5px;
    }
  }
  todo-card-delete-icon {
    cursor: pointer;
    position: absolute;
    color: $color-gray-dark;
    font-size: 0.7rem;
    right: 0.5rem;
    top: 0.5rem;
    display: inline;
  }
  .todo-card-title-input {
    border: none;
  }
  .todo-card-content-input {
    border: none;
    resize: none;
  }

  &.default {
    color: todo-gray;
    border: 1px solid $color-gray;
    background-color: $color-white;
  }
  &.active {
    color: todo-gray;
    border: 1px solid $color-gray;
    background-color: $color-white;
    .todo-card-cencel-button {
      background-color: $color-gray;
      color: $color-gray-dark;
    }
    .todo-card-register-button {
      background-color: $color-blue;
      color: $color-white;
    }
    .todo-card-register-button:disabled,
    .todo-card-register-button[disabled] {
      background-color: $color-blue-light;
      color: $color-white;
    }
  }
  &.delete {
    background-color: $color-red-light;
    border: 1px solid $color-red;
  }
  &.drag {
    position: absolute;
    border: 1px solid $color-blue-light;
    background-color: $color-white;
  }
  &.place {
    border: 1px solid $color-gray;
    background-color: $color-gray-light;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem $color-gray-dark;
  }
}
