todo-header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.2rem;

  todo-header-title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  todo-header-menu {
    background: url("../icon/menu.png") no-repeat;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }
}
