/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  all: unset;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.app::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.point {
  font-weight: bold;
}

/**
 *  1rem : 16px.
 */
body {
  font-size: 100%;
  background-color: #eee;
}

main {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

todo-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.2rem;
}
todo-header todo-header-title {
  font-size: 1.5rem;
  font-weight: 600;
}
todo-header todo-header-menu {
  background: url("../icon/menu.png") no-repeat;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

todo-container {
  width: 100%;
  overflow-x: auto;
  padding: 0 1.2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width: 37.5rem) {
  todo-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

todo-section {
  background-color: transparent;
  min-width: 25%;
  width: 25%;
  margin-right: 2rem;
  min-height: 20rem;
}
@media (max-width: 37.5rem) {
  todo-section {
    min-width: 100%;
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

todo-section-header {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
todo-section-header todo-section-header-title {
  font-size: 1.125rem;
  font-weight: bold;
  display: block;
}
todo-section-header todo-section-header-count {
  margin-left: 1rem;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #999;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 50%;
}
todo-section-header todo-section-header-add-icon {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 2rem;
  margin-left: auto;
}

todo-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  position: relative;
}
todo-card todo-card-title {
  font-size: 0.9rem;
  font-weight: 700;
}
todo-card todo-card-content {
  margin-top: 0.4rem;
  width: 100%;
  font-size: 0.6rem;
}
todo-card todo-card-bottom {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
todo-card todo-card-bottom button {
  height: 1.8rem;
  width: 48%;
  border-radius: 5px;
}
todo-card todo-card-delete-icon {
  cursor: pointer;
  position: absolute;
  color: #999;
  font-size: 0.7rem;
  right: 0.5rem;
  top: 0.5rem;
  display: inline;
}
todo-card .todo-card-title-input {
  border: none;
}
todo-card .todo-card-content-input {
  border: none;
  resize: none;
}
todo-card.default {
  color: todo-gray;
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
}
todo-card.active {
  color: todo-gray;
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
}
todo-card.active .todo-card-cencel-button {
  background-color: #e9e9e9;
  color: #999;
}
todo-card.active .todo-card-register-button {
  background-color: #0075de;
  color: #ffffff;
}
todo-card.active .todo-card-register-button:disabled,
todo-card.active .todo-card-register-button[disabled] {
  background-color: #86c6fe;
  color: #ffffff;
}
todo-card.delete {
  background-color: #ffeeec;
  border: 1px solid #ff4343;
}
todo-card.drag {
  border: 1px solid #e9e9e9;
  background-color: #eee;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #999;
}
todo-card.place {
  border: 1px solid #86c6fe;
  background-color: #ffffff;
}

todo-aside {
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  right: -100%;
  width: 30%;
  background-color: white;
  transition: 0.5s ease;
  padding: 3rem 1.2rem;
  border-left: 2px solid #eee;
}
@media (max-width: 37.5rem) {
  todo-aside {
    width: 100%;
  }
}
todo-aside todo-aside-close-icon {
  cursor: pointer;
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 1rem;
  top: 1rem;
  background: url("../icon/close.png");
  background-size: 1rem;
  background-size: 1rem;
}
todo-aside todo-log {
  display: flex;
  width: 100%;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}
todo-aside todo-log:last-child {
  margin-bottom: 0;
}
todo-aside todo-log todo-log-icon-box {
  margin-right: 1.2rem;
}
todo-aside todo-log todo-log-icon-box todo-log-icon {
  font-size: 2rem;
}
todo-aside todo-log todo-log-time {
  display: block;
  margin-top: 0.4rem;
  color: #999;
  font-size: 90%;
}

/*# sourceMappingURL=app.css.map */
